@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(255, 255, 255);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

header {
  background: #00bfa5;
}

.container {
  width: 93% !important;
	margin: 0 auto !important;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0 !important;
  width: 120px !important;
  height: 45px !important;
}

h1 {
  color: #444;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative !important;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block !important;
  height: 5px !important;
  background-color: #444;

  position: absolute !important;
  top: 0 !important ;
  width: 0% !important ;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100% !important ;
}
