@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0 auto;
	background: rgb(255, 255, 255);
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.LoginNav{
  color:rgb(0, 0, 0);
  font-weight: 800;
  font-size: 18px !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 16px;
  width: auto;
  line-height: 1.5em;
  white-space: nowrap;
  box-sizing: content-box;
  margin: '0 auto';
}

.ShipItMenu{
  font-weight: 800;
  font-size: 18px !important;
  width: auto;
  line-height: 1.5em;
  white-space: nowrap;
  box-sizing: content-box;
  margin: '0 auto';
  height: 65px !important;
}

.MenuContents{
  height: 24px !important;
  line-height: 1.5em;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 400;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  box-sizing: content-box;
  padding-left:16px;
  padding-right:16px;
  display: flex;
}

header {
  background: #00bfa5;
}

.container {
  width: 93% !important;
	margin: 0 auto !important;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  margin: 10px;
  float: left;
  max-width: 120px;
  max-height: 45px;
  width: auto;
  height: auto;
  display: block;
}

h1 {
  color: #444;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative !important;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block !important;
  height: 5px !important;
  background-color: #444;

  position: absolute !important;
  top: 0 !important ;
  width: 0% !important ;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100% !important ;
}

nav c {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav Button:hover {
  color: #000;
}

nav Button::before {
  content: '';
  display: block !important;
  height: 5px !important;
  background-color: #444;

  position: absolute !important;
  top: 0 !important ;
  width: 0% !important ;

  transition: all ease-in-out 250ms;
}

nav Button:hover::before {
  width: 100% !important ;
}
